<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/body.css"/>
</head>
<script language="JavaScript">
    function checkInput(){
        var account = $("#UserId").var();
        var name = $("#UserName").var();
        var sex = $("#UserSex").var();
        var pwd = $("#UserPwd").var();
        var add = $("#UserAdd").var();
        if(account != null && name != null && sex != null && pwd != null && add !=null){
            return true;
        }
        alert("注册信息有误！");
        return false;
    }
</script>
<body>
<div class="container">
    <section id="content">
        <form action="/insert" onsubmit="checkInput()">
            <h1>用户注册</h1>
            <div>
                <input type="text" placeholder="账号" required="" name="UserId" />
            </div>
            <div>
                <input type="text" placeholder="用户名" required="" name="UserName" />
            </div>
            <div>
                <input type="text" placeholder="性别" required="" name="UserSex" />
            </div>
            <div>
                <input type="password" placeholder="密码" required="" name="UserPwd" />
            </div>
            <div>
                <input type="text" placeholder="地址" required="" name="UserAdd" />
            </div>
            <div class="">
                <span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>			</div>
            <div>
                <!-- <input type="submit" value="Log in" /> -->
                <input type="submit" value="提交" class="btn btn-primary" onclick="return checkInput()"	 id="js-btn-login"/>
                <!-- <a href="#">Register</a> -->
            </div>
        </form><!-- form --><!-- button -->
    </section><!-- content -->
</div>
<!-- container -->


<br><br><br><br>
</body>
</html>